RewriteEngine On

ErrorDocument 404 /index.php?page=404

RewriteRule ^([a-z]+)$ index.php?page=$1 [L]
RewriteRule ^theme-finished$ index.php?page=theme-finished [L]
RewriteRule ^question/([1-9])/([1-5])$ index.php?page=question&theme=$1&question=$2 [L]
RewriteRule ^question/([1-9])/intro$ index.php?page=intro&theme=$1 [L]