<div class="top-bar">
    <div>
        <a href="http://projet.local/home">
            <img src="/assets/img/neonquests_full_logo.svg" alt="neonquests-logo" class="logo">
        </a>
    </div>
    <div class="progress-bar">
        <progress value=<?=$_SESSION['progress'] ?> max="100"></progress>
    </div>
    <div class="account-logo-container">
        <span class='pseudo'>
            <?= $_SESSION['pseudo'] ?>
        </span>
        <a href="account">
            <img src="/assets/img/neonquests_account_icon.png" alt="neonquests-account-icon" class="account">
        </a>
    </div>
</div>