* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

body {
    background: linear-gradient(90deg, rgba(0, 154, 214, 1) 0%, rgba(39, 64, 163, 1) 50%, rgba(210, 0, 247, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.top-bar {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
}

.logo {
    width: 150px;
    height: 70px;
    scale: 120%;
}

.progress-bar {
    background-color: red;
    height: 40px;
    width: 700px;
}

.account {
    width: 80px;
    margin-right: 0;
}

.account-logo-container {
    width: fit-content;
}

.pseudo {
    font-size: 20px;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #212121;
    width: 100%;
    justify-items: center;
    padding-top: 10px;
    margin-top: 50px;
}

.progress-bar {
    border-radius: 20px;
}

progress {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: rgb(56, 56, 56);
    border-radius: 2px;
}

progress::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(0, 154, 214, 1) 0%, rgba(39, 64, 163, 1) 50%, rgba(210, 0, 247, 1) 100%);
    border-radius: 2px;
}

