* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

body {
    background: linear-gradient(90deg, rgba(0, 154, 214, 1) 0%, rgba(39, 64, 163, 1) 50%, rgba(210, 0, 247, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.top-bar {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    width: 150px;
    height: 70px;
    scale: 120%;
}

.progress-bar {
    height: 40px;
    width: 700px;
    border-radius: 20px;
}

.account {
    width: 80px;
    margin-right: 0;
}

.account-logo-container {
    width: fit-content;
}

.pseudo {
    font-size: 20px;
    font-weight: bold;
}

footer {
    margin-top: 50px;
    background-color: #212121;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

progress {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
}

progress::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(0, 154, 214, 1) 0%, rgba(39, 64, 163, 1) 50%, rgba(210, 0, 247, 1) 100%);
    border-radius: 20px;
}

.box_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    /* espace vertical */
    position: relative;
    /* Indispensable pour l'onglet */
    background-color: #212121;
    border-radius: 20px;
    padding: 100px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 200px;
    /* Espace pour laisser l'onglet dépasser */
}

.line {
    position: absolute;
    width: 95%; /*100vw*/
    height: 100%; /*100vh*/
    z-index: 1;
}

.line line {
    stroke: white;
    stroke-width: 5;
    stroke-dasharray: 10 10;
    /* pointillés */
}

.onglet-titre {
    position: absolute;
    top: -30px;
    left: 20px;
    /* On le fait monter de la moitié de sa hauteur environ */
    background-color: #212121;
    color: white;
    padding: 5px 40px;
    border-radius: 8px 8px 0 0;
    /* Arrondis uniquement en haut */

    font-family: sans-serif;
    font-size: 17px;
    white-space: nowrap;
    /* Évite que le texte saute à la ligne */
}


.boutonlevel {
    width: 155px;
    height: 150px;
    font-weight: bolder;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    border-radius: 50%;
    border: none;
    position: relative;
    top: 80px;
    background: inherit;
    transition: 0.1s;
    background: linear-gradient(90deg,
            rgba(0, 154, 214, 1) 0%,
            rgba(39, 64, 163, 1) 50%,
            rgba(210, 0, 247, 1) 100%);
    background-attachment: fixed;
    overflow: hidden;
    z-index: 99;
}

.boutonlevel1 {
    width: 155px;
    height: 150px;
    font-weight: bolder;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    border-radius: 50%;
    border: none;
    position: relative;
    top: -80px;
    background: inherit;
    transition: 0.1s;
    background: linear-gradient(90deg,
            rgba(0, 154, 214, 1) 0%,
            rgba(39, 64, 163, 1) 50%,
            rgba(210, 0, 247, 1) 100%);
    background-attachment: fixed;
    overflow: hidden;
    z-index: 99;
}

.boutonlevel::after, .boutonlevel1::after {
    content: '';
    width: 100%;
    height: 100%;
    filter: blur(15px);
    z-index: -1;
    position: absolute;
}

.boutonlevel:active, .boutonlevel1:active  {
    transform: scale(0.95);
}

.disabled{
    background: fixed;
    background-color: #515151;
}

.validated {
    background: fixed;
    background-color: rgb(0, 90, 0);
}