* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

body {
    background: linear-gradient(90deg, rgba(0, 154, 214, 1) 0%, rgba(39, 64, 163, 1) 50%, rgba(210, 0, 247, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.top-bar {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    width: 150px;
    height: 70px;
    scale: 120%;
}

.progress-bar {
    background-color: red;
    height: 40px;
    width: 700px;
}

.account {
    width: 80px;
    margin-right: 0;
}

.account-logo-container {
    width: fit-content;
}

.pseudo {
    font-size: 20px;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #212121;
    width: 100%;
    justify-items: center;
    padding-top: 10px;
}

.progress-bar {
    border-radius: 20px;
}

progress {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: rgb(56, 56, 56);
    border-radius: 2px;
}

progress::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(0, 154, 214, 1) 0%, rgba(39, 64, 163, 1) 50%, rgba(210, 0, 247, 1) 100%);
    border-radius: 2px;
}

.sup-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.delete-account {
    color: red;
    font-weight: bold;
}

.log-out {
    font-weight: bold;
}

.logo-account-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.logo-account {
    width: 200px;
}

.password-container {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: hsla(192, 100%, 88%, 0.6);
    font-size: 1rem;
    transition: all 0.3s ease;
    z-index: 100;
    background: none;
    border: none;
    padding: 5px 10px;
}

.toggle-password:hover {
    color: #00F5FF;
    text-shadow: 0 0 10px #00F5FF;
    transform: translateY(-50%) scale(1.1);
}

.wrapper-confirm-delete{
    position: fixed;
    z-index: 99999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.wrapper-button-delete{
    display: flex;
    justify-content: space-around;
}

.delete-info{
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.button-delete{
    border: 0;
    font-size: 20px;
    padding: 10px;
}

.non-button{
    background-color: red;
    color: white;
}

.oui-button{
    background-color: green;
    color: black;
}

/* From Uiverse.io by InfinityLoopGames */

.submit {
    color: #9fc4d0;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.submit::before {
    margin-left: auto;
}

.submit::after,
.submit::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #06aed8;
    display: block;
    transition: 0.5s;
}

.submit:hover::after,
.submit:hover::before {
    width: 100%;
}

.container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    display: flex;
    height: 300px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0;
    aspect-ratio: 16/9;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}

.input-container {
    margin-top: 0px;
}

.input-content {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-inline: 1em;
    margin-top: 150px;
    transform: scale(1.5);
}

.input-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(40px);
    -webkit-clip-path: polygon(26% 0,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
    clip-path: polygon(26% 0,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
    background: rgba(122, 251, 255, 0.5568627451);
    transition: all 1s ease-in-out;
}

.input-content::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 98%;
    box-shadow: inset 0px 0px 20px 20px #212121;
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            rgba(64, 144, 181, 0.6) 1px,
            rgb(0, 0, 0) 3px,
            hsl(295, 60%, 12%) 5px,
            #153544 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            hsl(295, 60%, 12%) 100%,
            hsla(295, 60%, 12%, 0.99) 100%);
    -webkit-clip-path: polygon(26% 0,
            31% 5%,
            61% 5%,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
    clip-path: polygon(26% 0,
            31% 5%,
            61% 5%,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
}

.input-dist {
    z-index: 80;
    display: grid;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-inline: 1em;
    padding-block: 1.2em;
    grid-template-columns: 1fr;
}

.input-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
    font-size: 1.1rem;
    background-color: transparent;
    width: 100%;
    border: none;
}

.input-is {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    transition: all 1s ease-in-out;
    border-bottom: 1px solid hsl(221, 26%, 43%);
}

.input-is:hover {
    transition: all 1s ease-in-out;
    background: linear-gradient(90deg,
            transparent 0%,
            rgba(102, 224, 255, 0.2) 27%,
            rgba(102, 224, 255, 0.2) 63%,
            transparent 100%);
}

.input-content:focus-within::before {
    transition: all 1s ease-in-out;
    background: hsla(0, 0%, 100%, 0.814);
}

.input-is:focus {
    outline: none;
    border-bottom: 1px solid hsl(192, 100%, 100%);
    color: hsl(192, 100%, 88%);
    background: linear-gradient(90deg,
            transparent 0%,
            rgba(102, 224, 255, 0.2) 27%,
            rgba(102, 224, 255, 0.2) 63%,
            transparent 100%);
}

.input-is::-moz-placeholder {
    color: hsla(192, 100%, 88%, 0.806);
}

.input-is::placeholder {
    color: hsla(192, 100%, 88%, 0.806);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(-50%, 20%);
    }

    50% {
        transform: rotate(180deg) translate(40%, 10%);
    }

    to {
        transform: rotate(360deg) translate(-50%, 20%);
    }
}

.create-account-button {
    width: 200px;
    margin-bottom: 20px;
    border: none;
    color: hsla(192, 100%, 88%, 0.806);
    background: linear-gradient(90deg,
            transparent 0%,
            rgba(102, 224, 255, 0.2) 27%,
            rgba(102, 224, 255, 0.2) 63%,
            transparent 100%);
    clip-path: polygon(0 0, 85% 0%, 100% 0, 100% 15%, 100% 90%, 91% 100%, 0 100%);
    padding: 0.5em;
    transition: all 500ms;
}

.create-account-button:hover {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}