* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

body {
    background: linear-gradient(90deg, rgba(4, 149, 207, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(210, 0, 247, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.image-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-top: 80px;
}

img {
    width: 700px;
}

.sup-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.password-container {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: hsla(192, 100%, 88%, 0.6);
    font-size: 1rem;
    transition: all 0.3s ease;
    z-index: 100;
    background: none;
    border: none;
    padding: 5px 10px;
}

.password-field {
    right: 10px;
}

.toggle-password:hover {
    color: #00F5FF;
    text-shadow: 0 0 10px #00F5FF;
    transform: translateY(-50%) scale(1.1);
}

/* From Uiverse.io by InfinityLoopGames */

.submit {
    color: #9fc4d0;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.submit::before {
    margin-left: auto;
}

.submit::after,
.submit::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #06aed8;
    display: block;
    transition: 0.5s;
}

.submit:hover::after,
.submit:hover::before {
    width: 100%;
}

.container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    display: flex;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 0;
    aspect-ratio: 16/9;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}

.input-container {
    filter: drop-shadow(46px 36px 24px #4090b5) drop-shadow(-55px -40px 25px #9e30a9);
    animation: blinkShadowsFilter 8s ease-in infinite;
    margin-top: 30px;
}

.input-content {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-inline: 1em;
    margin-top: 150px;
    transform: scale(1.5);
}

.input-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(40px);
    -webkit-clip-path: polygon(26% 0,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
    clip-path: polygon(26% 0,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
    background: rgba(122, 251, 255, 0.5568627451);
    transition: all 1s ease-in-out;
}

.input-content::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 98%;
    box-shadow: inset 0px 0px 20px 20px #212121;
    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            rgba(64, 144, 181, 0.6) 1px,
            rgb(0, 0, 0) 3px,
            hsl(295, 60%, 12%) 5px,
            #153544 4px,
            transparent 0.5%),
        repeating-linear-gradient(to left,
            hsl(295, 60%, 12%) 100%,
            hsla(295, 60%, 12%, 0.99) 100%);
    -webkit-clip-path: polygon(26% 0,
            31% 5%,
            61% 5%,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
    clip-path: polygon(26% 0,
            31% 5%,
            61% 5%,
            66% 0,
            92% 0,
            100% 8%,
            100% 89%,
            91% 100%,
            7% 100%,
            0 92%,
            0 0);
}

.input-dist {
    z-index: 80;
    display: grid;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-inline: 1em;
    padding-block: 1.2em;
    grid-template-columns: 1fr;
}

.input-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
    font-size: 1.1rem;
    background-color: transparent;
    width: 100%;
    border: none;
}

.input-is {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    transition: all 1s ease-in-out;
    border-bottom: 1px solid hsl(221, 26%, 43%);
}

.input-is:hover {
    transition: all 1s ease-in-out;
    background: linear-gradient(90deg,
            transparent 0%,
            rgba(102, 224, 255, 0.2) 27%,
            rgba(102, 224, 255, 0.2) 63%,
            transparent 100%);
}

.input-content:focus-within::before {
    transition: all 1s ease-in-out;
    background: hsla(0, 0%, 100%, 0.814);
}

.input-is:focus {
    outline: none;
    border-bottom: 1px solid hsl(192, 100%, 100%);
    color: hsl(192, 100%, 88%);
    background: linear-gradient(90deg,
            transparent 0%,
            rgba(102, 224, 255, 0.2) 27%,
            rgba(102, 224, 255, 0.2) 63%,
            transparent 100%);
}

.input-is::-moz-placeholder {
    color: hsla(192, 100%, 88%, 0.806);
}

.input-is::placeholder {
    color: hsla(192, 100%, 88%, 0.806);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(-50%, 20%);
    }

    50% {
        transform: rotate(180deg) translate(40%, 10%);
    }

    to {
        transform: rotate(360deg) translate(-50%, 20%);
    }
}

@keyframes blinkShadowsFilter {
    0% {
        filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9e30a9);
    }

    25% {
        filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 24px #9e30a9);
    }

    50% {
        filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
    }

    75% {
        filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
    }

    to {
        filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9e30a9);
    }
}

.create-account-button {
    width: 200px;
    margin-bottom: 20px;
    border: none;
    color: hsla(192, 100%, 88%, 0.806);
    background: linear-gradient(90deg,
            transparent 0%,
            rgba(102, 224, 255, 0.2) 27%,
            rgba(102, 224, 255, 0.2) 63%,
            transparent 100%);
    clip-path: polygon(0 0, 85% 0%, 100% 0, 100% 15%, 100% 90%, 91% 100%, 0 100%);
    padding: 0.5em;
    animation: blinkShadowsFilter 5s ease-in infinite;
    transition: all 500ms;
}

.create-account-button:hover {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}

