* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

body {
    background: linear-gradient(90deg,rgba(0, 154, 214, 1) 0%, rgba(39, 64, 163, 1) 50%, rgba(210, 0, 247, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 70px;
    scale: 120%;
}

.progress-bar {
    background-color: red;
    height: 40px;
    width: 700px;
}

.account {
    height: 75px;
    width: 75px;
}


footer {
    position: relative;
    bottom: 0;
    background-color: #212121;
    width: 100%;
    justify-items: center;
    padding-top: 10px;
}

